version: '3.5'
services:
  db:
    image: postgres:15.3-alpine
    container_name: pg
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432'
    networks:
    - postgres
  protocol_desync:
    build:
      context: .
    depends_on:
      - db
    networks:
    - postgres

networks:
  postgres:
    driver: bridge